.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba($primary-color, 0.7),
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.6),
      rgba($primary-color, 0.7)
    ),
    url("./../img/model-1.jpg");

  background-size: cover;
  background-position: center top;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
    &--last {
      font-weight: 700;
      color: $secondary-color;
    }
  }
}
