@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background-color: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  //   About Page
  .about-wrapper__hero {
    font-size: 1.5rem;
  }

  //   Projects
  .projects {
    .projects-wrapper {
      height: 40vh;
      .text-secondary {
        font-size: 3rem;
      }
    }
    .project {
      &__items {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  //   Contact-Page
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .projects {
    .projects-wrapper {
      height: 50vh;
    }
    .project {
      &__items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
      }
    }
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
